# Ignore Visual Studio folder
.vscode/

# Ignore batch files
*.bat

# Ignore executables
*.exe

# Ignore text files
*.txt

# CMake build artifacts
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Visual Studio files
.vs/
*.vcxproj*
*.sln

# Binary output
*.exe
*.dll
*.obj
*.pdb
*.lib
*.out
*.log